@model MDS.Models.StatusSummary
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="@Url.Content("~/Scripts/kendo/jquery.min.js")"></script>*@
<style type="text/css">
    td {
        padding: 5px;
    }

    #rpGrid tbody tr:hover {
        cursor: pointer !important;
    }
</style>

<style type="text/css">
    td {
        padding: 5px;
    }

    #rpGrid tbody tr:hover {
        cursor: pointer !important;
    }
</style>
<h1>Contracts Overdue & Unscheduled Services</h1>
<table width="100%">
    <tr>
        <td colspan="6">
            @(Html.Kendo().Grid(Model.Status)
.Name("rpCustomer")
.Columns(columns =>
{
    columns.Bound(p => p.InformationTitle).Title("").ClientTemplate(@Html.ActionLink("#=InformationTitle#", "Details", new { id = "#=InformationTitle#" }).ToHtmlString());
    columns.Bound(p => p.StatusCount).Title("").ClientTemplate(@Html.ActionLink("#=StatusCount#", "Details", new { id = "#=InformationTitle#" }).ToHtmlString());
})
.Pageable()
.Sortable()
.Filterable()
.DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(200)
        .ServerOperation(false)
     )
            )
        </td>
    </tr>
</table>


<script>
    $(document).ready(function () {

        $('#rpForm').live("keypress", function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                e.preventDefault();
                e.stopPropagation();
                $(this).closest('form').submit();
            }
        });
    });
</script>